
@{
    ViewBag.Title = "Ders Ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ders Ekle</h2>
<hr />
<form method="post" class="form-group">
    <label>Ders Adı</label>
    <input type="text" name="lessonName" class="form-control form" />
    <hr />
    <button class="btn btn-success"> Ders Kaydet</button>
</form>

